<app-header (customEvent)="countQuantity($event)" (sideNavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-toolbar color="primary" class="sidenavToolbar">
        <mat-toolbar-row>
          <span>Cards</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Forms</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Sidenav Item</span>
        </mat-toolbar-row>
      </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="cards$ | async as cards; else load"
          class="grid">
      <div *ngFor="let card of cards; index as i; odd as isOdd"
            class="grid__item">
        <app-card [card]="card" [position]="i+1" [isOdd]="isOdd">
          
        </app-card>
      </div>
    </div>

    <ng-template #load>
      <div class="loader">
        <img src="assets/img/gears.gif" alt="Loading...">
      </div>
    </ng-template>

  </mat-sidenav-content>
</mat-sidenav-container>
