.mat-drawer-container {
  height: calc(100vh - 64px);
}
.mat-drawer {
  height: 100%;
  overflow-y: auto;
}
.sidenavToolbar {
  height: 100%;
}

/* Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.grid__item {
  margin: 10px;
}
@media (min-width: 768px) {
  .grid__item {
    max-width: calc(50% - 20px);
  }
}
@media (min-width: 1024px) {
  .grid__item {
    max-width: calc(33.33% - 20px);
  }
}

/* Loader */
.loader {
  margin: 10px;
}
