.mat-drawer-container {
  height: calc(100vh - 64px);
}
.mat-drawer {
  height: 100%;
  overflow-y: auto;
}
.sidenavToolbar {
  height: 100%;
}

.mat-card {
  box-sizing: border-box;
  margin: 20px;
  max-width: calc(33.33% - 40px);
}
.mat-card-avatar {
  background-image: url('/assets/img/shiba1.jpg');
  background-size: cover;
}
